body {
    background-image: linear-gradient(to left , white, rgb(201, 200, 200));

    display: grid;
    grid-template-areas: 'nav header''nav main''nav footer';
    grid-template-columns: 10% auto;
    grid-template-rows: 10% auto 7%;
}

nav {
    grid-area: nav;

    width: 10%;
    height: 100%;
    background-color: rgb(0, 0, 0);

    position: fixed;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 20% 10%;

    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul :hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

header {
    grid-area: header;

    margin: 1%;
    border: 6px solid rgba(0, 0, 0, 0.02);

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

main {
    grid-area: main;

    margin: 0 1%;
    border: 6px solid rgba(0, 0, 0, 0.02);

    display: flex;
    flex-direction: column;
}

.banner-img {
    width: 100%;
    height: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-caption {
    border-top: 6px solid rgba(0, 0, 0, 0.02);
    border-bottom: 6px solid rgba(0, 0, 0, 0.02);
    padding: 20px;
}

.banner-caption p {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.banner-caption p span {
    font-size: 40px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
}

footer {
    grid-area: footer;
    margin: 1%;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 6px solid rgba(0, 0, 0, 0.02);
}

footer ul li {
    align-items: center;
    padding: 1%;
}

footer ul :hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.fa-brands {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 15px;
}

.fa-basket-shopping {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 15px;
}