@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

:root {
    --color1: #000000;
    --color2: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;

    background-color: var(--color2);
    color: var(--color1);
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    text-transform: lowercase;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8em;
    font-weight: bold;
}

.logo:hover {
    color: var(--color1);
}

.logo:active {
    color: rgba(0, 0, 0, 0.5);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../img/menu.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('../img/close.png');
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    width: 100%;
    transition: 1s;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.05);
}

#galeria img:hover {
    transform: scale(1.5);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 100px 40px;
    padding-bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    bottom: 20px;
    z-index: 10;
}

.social ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
    filter: invert(100%);
}

.social li a:hover {
    transform: scale(0.6) translateY(-15px);
}

.text p {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.99);
    font-size: 1em;
}

.text p a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.99);
    font-size: 1em;
}

.text p a:hover {
    color: var(--color1);
    font-weight: 600;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
}

.menu ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.menu ul li a {
    display: block;
    width: 300px;
    height: 50px;
    padding-bottom: 90px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color2);
    text-align: center;
    line-height: 90px;
    transition: 0.2s;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color2);
}

.menu ul li a:active {
    background-color: rgba(255, 255, 255, 0.5);
}