@import 'reset.scss';

$color1: #000000;
$color2: #FFFFFF;

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    color: $color2;
    z-index: 2;
    transition: 0.5s;

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color1;
        opacity: 0.1;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            cursor: pointer;
            text-transform: lowercase;
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9);
            font-size: 1.8em;
        }

        &:hover {
            color: $color2;
        }

        &:active {
            color: rgba(255, 255, 255, 0.9);
        }

        .toggle {
            position: relative;
            width: 60px;
            height: 60px;
            background: url('../img/menu.png');
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: center;
            cursor: pointer;
        }
    }

    .release {
        position: relative;
        z-index: 10;

        .release-title {
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            font-size: 5em;
            font-weight: 500;
            text-transform: uppercase;
        }

        .release-subtitle {
            font-family: 'Spoqa Han Sans Neo', 'sans-serif';
            font-size: 3em;
            font-weight: 200;
        }

        a {
            display: inline-block;
            border-radius: 5px;
            font-size: 1em;
            background: $color2;
            padding: 10px 30px;
            text-decoration: none;
            color: $color1;
            margin-top: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: 0.2s;

            &:hover {
                letter-spacing: 6px;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .social {
            bottom: 20px;
            z-index: 10;

            ul {
                display: flex;
                justify-content: end;
                align-items: center;

                li {
                    list-style: none;

                    a {
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        text-decoration: none;
                        margin-right: 20px;
                        transform: scale(0.5);
                        transition: 0.5s;

                        &:hover {
                            transform: scale(0.6) translateY(-15px);
                        }
                    }
                }
            }
        }

        .text p {
            font-weight: 100;
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.7em;

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.5);
                font-size: 1em;

                &:hover {
                    color: $color2;
                    font-weight: 600;
                }
            }
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        position: relative;
        list-style: none;

        li {

            a {
                display: block;
                width: 300px;
                height: 50px;
                padding-bottom: 90px;
                text-decoration: none;
                font-size: 1.2em;
                color: $color1;
                text-align: center;
                line-height: 90px;
                transition: 0.2s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    color: $color2;
                }

                &:active {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

.showcase.active {
    right: 300px;
}

.toggle.active {
    background: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

@media (max-width: 798px) {

    .showcase,
    .showcase header {
        padding: 20px;
    }

    .release-title {
        font-size: 2.5em;
    }

    .release-subtitle {
        font-size: 1.5em;
    }

    .release a {
        font-size: 0.5em;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 10px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}