body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left , white, rgb(201, 200, 200));

    display: grid;
    grid-template-areas: 'nav header''nav main''nav footer';
    grid-template-columns: 10% auto;
    grid-template-rows: 10% auto 7%;
}

body nav {
    grid-area: nav;

    width: 10%;
    height: 100%;
    background-color: black;

    position: fixed;
    overflow: hidden;
}

body nav ul li a {
    display: block;
    padding: 20% 10%;

    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav :hover {
    color:black;
}

nav ul li :hover {
    background-color: white;
    transition: 0.3s;
}

body header {
    grid-area: header;

    margin: 1%;
    border: 6px solid rgba(0, 0, 0, 0.02);

    display: flex;
    justify-content: center;
    align-items: center;
}

body header h1 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
}

body main {
    grid-area: main;

    display: flex;
    flex-direction: column;

    margin: 0 1%;
    border: 6px solid rgba(0, 0, 0, 0.02);
    border-bottom: 0;
}

body main section {
    display: flex;

    padding: 1%;
    border: 6px solid rgba(0, 0, 0, 0.02);
}

body main section .album_img {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 2%;
}

body main section .album_tracks {
    width: 50%;

    color: black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

body main section .album_tracks h2 {
    font-size: 24px;
    font-weight: 700;
}

body main section .album_tracks p {
    font-size: 20px;
    font-weight: 500;
}

footer {
    grid-area: footer;
    margin: 1%;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 6px solid rgba(0, 0, 0, 0.02);
}

body footer ul li {
    align-items: center;
    padding: 1%;
}

footer ul li a {
    color: black;
}

footer ul :hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
    background-color: black;
}

.fa-brands {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.001);
    border-radius: 5%;
}

.fa-basket-shopping {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.001);
    border-radius: 5%;
}